@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root{
  --gray: #e6e6e6;
  --hardGray: #777777;
  --lightGray: #f2f2f2;
  --text: #4f4f4f;
  --blue: #116193;
  --white: white;
  --lightGreen: #00ece6;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

.hide{
  display: none;
}